.income_expenses {
  background: white;
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 80%;
  justify-content: space-around;
  height: 10%;
  box-shadow: 5px 5px 10px #888888;
  position: relative;
  left: 10%;
  align-items: center;
}
.line {
  height: 80%;
  width: 1px;
  background-color: gray;
  margin: 0 10px;
}
.expenses {
  padding: 1.5rem;
  gap: 1rem;
}
.expenses_amount {
  color: red;
  padding: 5px;
}
.income_amount {
  color: green;
  padding: 5px;
}


