* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}
.box {
  display: flex;
  height: 80%;
  width: 30%;
  margin-top: 5%;
  background-color: whitesmoke;
  flex-direction: column;
}
.title {
  margin: 5% 0 0 40%;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: larger;
  font-weight: bolder;
}


